body{
    text-align: center;
    background-image: url("https://github.com/ejimful/1112WebDev/blob/master/assets/css/images/bg1.jpg");
}
table{
    width: 60%;
    margin: auto;
    font-size: 1.5em;
    border:solid black;
    border-collapse: collapse;
    background-color: white;
}
tr,td{
    border-bottom:solid black;
}

.extension{
    background:#ade6bc;
    border:solid #47b357;
}
.extension p{
    color:	#012003;
    font-size: 10pt;
}
